body {
    background-image: url("../images/flowers-2.jpg");
}

.nav-item {
    padding-left: 10%;
    padding-right: 10%;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.699);
    height: 100%;
}

.card {
    border-radius: 15px;


}

/* .eventType {
    height: 18rem;
    /* width: 24rem;
    }    */

/* .img-card-top {
    height: 12rem;
} */

#main-card-body {
    background-image: url("../images/marylin-gray.jpg");
    border-radius: 15px;

}

.card-body {
    background-color: rgba(128, 128, 128, 0.459);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}



