.person-body{
background-image: url('../images/flowersPersonal.jpg');
}

.body-background{
    background-color: rgba(255, 255, 255, 0.461);
    height: 100%;
}

.person-header{
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: 70px;
    color: whitesmoke;
}

.person-header-container{
    background-color:rgba(235, 75, 31, 0.495);
}

.card{
margin: 2px;
}


/* .card-text{
    list-style: bullets;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
} */



.row{
    justify-content: space-evenly;
}
.nav-item {
    padding-left: 10%;
    padding-right: 10%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}



